@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Roboto+Slab:wght@400;900&display=swap');

* {
    font-family: 'Roboto Slab', Helvetica, sans-serif;
}

body {
    background: #f0f05269;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    color: #6b452c;
    font-size: 50px;
}

img {
    width: 50%;
    border: 1px solid black;
    border-radius: 20px;
}

ul {
    list-style: none;
}

a {
    font-size: 25px;
    color: #b36937;
}

.links {
    list-style: none;
    text-align: center;
}

.hp-list li {
    margin-bottom: 28px;
}

.hero {
    text-align: center;
}